*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(sfondo.jpg);
}
h1{
  text-align: center;
  color: white;
  padding-top: 10vh;
  font-size: 40px;
  font-family:sans-serif;
}
span{
  color: red;
}
.tabellaleft{
  padding-top: 20px;
  padding-left: 50px;
}
.testoleft{
  margin: 13px;
  font-size: 18px;
}
#sottotitolo{
  text-align: center;
  color: white;
  margin-top: 14px;
  font-size: 26px;
  font-family:serif;
}
#sezmen{
  text-align: center;
  font-size: 28px;
}
#barra{
  margin: 32px;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px;
}
#bottone{
  padding: 10px;
  border-radius: 5px;
}
.sezmen2{
  display: inline-block;
  margin: 18px;
}
.struttura{
  margin: auto;
  width: 80%;
}
header{
  margin-top: 60px;
  height: 300px;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
}
.sfondo{
  width: 100%;
  height:100%;
  background-image: url(tecnologia.jpg);
  position: relative;
}
.menu{
  height: 80px;
  background-color: #bf9367;
  border-radius: 8px;
}
main{
  margin-top: 40px;

}
main:after{
  content:"";
  display: table;
  clear: both;
}
.art1{
  width: 25%;
  height: 800px;
  float: left;
  padding-right: 24px;

}
section{
  width: 45%;
  height: 2000px;
  float: left;
  background-color: white;
  border-radius: 8px;
}
.art2{
  width: 30%;
  height: 360px;
  float: left;
  padding-left: 24px;

}
.correlati{
  height: 40%;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 8px;
}
.archivio{
  height: 35%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 8px;

}
.media{
  height: 25%;
  background-color: white;
  border-radius: 8px;
}
.ricerca{
  height: 30%;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 8px;
}
.tagghi{
  height: 70%;
  background-color: white;
  border-radius: 8px;
}
footer{
  margin-top: 40px;
  margin-bottom: 100px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
}
footer:after{
  content:"";
  display: table;
  clear: both;
}
.postrecenti{
  width: 20%;
  height: 60%;
  float: left;
  border-right-style:inset;
  border-color: #b3b3b3;
}
.commenti{
  width: 20%;
  height: 60%;
  float: left;
  border-right-style:inset;
  border-color: #b3b3b3;
}
.categorie{
  width: 20%;
  height: 60%;
  float: left;
  border-right-style:inset;
  border-color: #b3b3b3;
}
.widget{
  width: 40%;
  height: 60%;
  float: left;
}
#tags{
  color: green;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 22px;
  font-style: oblique;
  font-family: cursive;
}
#ricerche{
  padding: 32px;
}
#fot{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 20px;
}
